div{
  padding: 15px 25px;
  background: rgb(17 24 39);
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .left-nav li {
    margin-right: 25px;
  }
  
  .left-nav li:last-child {
    margin-right: 0;
  }
  
  .left-nav li a {
    color: white;
    font-size: 14px;
    font-weight: 700;
    word-spacing: 1px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .left-nav li a:hover {
    opacity: 0.8;
  }
  
  .right-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .right-nav li {
    margin-left: 25px;
  }
  
  .right-nav li:first-child {
    margin-left: 0;
  }
  
  .right-nav li a {
    color: white;
    font-size: 14px;
    font-weight: 700;
    word-spacing: 1px;
    text-align: center;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .right-nav li a:hover {
    opacity: 0.8;
  }