<!-- <app-common-modal  [title]="'Success !!!'" [message]="'Are you sure you want to perform this action?'" [buttons]="[{ label: 'Confirm', action: onConfirm }, { label: 'Cancel', action: onCancel }]"></app-common-modal> -->
<div *ngIf="title=='Update Modal'" class="container">

<div class="modal-title">
  <h1>{{heading}}</h1>
</div>
<hr>
<div class="modal-message">
  <h6>{{message}}</h6>
</div>



<form #addProduct="ngForm" (ngSubmit)="Submit(addProduct.value)">
  
    <div>
      <label for="product-name">Product Name:</label>
      <input type="text" id="product-name" name="name" placeholder="Enter product name :" required
      ngModel="{{productData.name}}" >
    </div>
    <div>
      <label for="product-category">Category:</label>
      <input type="text"id="product-category" name="category"  placeholder="Enter product category:"
      ngModel="{{productData.category}}">
       
     
    </div>
    <div>
      <label for="product-description">Product Description:</label>
      <textarea id="product-description" name="desc"  placeholder="Enter product Description :" required  ngModel="{{productData.desc}}"></textarea>
    </div>
    <div>
      <label for="product-price">Price:</label>
      <input type="number" id="product-price" name="price"  placeholder="Enter product price :" 
      ngModel="{{productData.price}}">
    </div>
    
    <button  (click)="Submit(addProduct.value)" type="submit">Update</button>
    <div class="modal-buttons">
      <!-- <button class="px-4" (ngSubmit)="Submit(addProduct.value)">Yes, I'm sure</button> -->
      <button type="button"
        class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 font-medium text-secondary shadow-sm"
        (click)="activeModal.close('Close click')">Cancel</button>
    </div>
  </form>

</div>
