<table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.desc }}</td>
        <td>{{ product.category}}</td>
        <td>{{ product.price | currency:'USD'}}</td>
       
        <td>
          <button class="delete-btn">Delete</button>
          <button class="update-btn">Update</button>
        </td>
     
    </tbody>
  </table>
  