<table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Product 1</td>
        <td>Description of Product 1</td>
        <td>Category 1</td>
        <td>Rs. 999</td>
        <td>
          <button class="delete-btn">Delete</button>
          <button class="update-btn">Update</button>
        </td>
      </tr>
      <tr>
        <td>Product 2</td>
        <td>Description of Product 2</td>
        <td>Category 2</td>
        <td>Rs. 599</td>
        <td>
          <button class="delete-btn">Delete</button>
          <button class="update-btn">Update</button>
        </td>
      </tr>
      <tr>
        <td>Product 3</td>
        <td>Description of Product 3</td>
        <td>Category 1</td>
        <td>Rs. 599</td>
        <td>
          <button class="delete-btn">Delete</button>
          <button class="update-btn">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
  