
<form [formGroup]="product_form" (ngSubmit)="saveForm()">
  
    <div>
      <label for="product-name">Product Name:</label>
      <input type="text" id="product-name" name="name" required formControlName="name">
    </div>
    <div>
      <label for="product-category">Category:</label>
      <select id="product-category" name="category" formControlName="category">
        <option value="">Select a category</option>
        <option value="electronics">Electronics</option>
        <option value="clothing">Clothing</option>
        <option value="home">Home</option>
        <option value="beauty">Beauty</option>
      </select>
    </div>
    <div>
      <label for="product-description">Product Description:</label>
      <textarea id="product-description" name="desc" required formControlName="desc"></textarea>
    </div>
    <div>
      <label for="product-price">Price:</label>
      <input type="number" id="product-price" name="price" required formControlName="price">
    </div>
    
    <button type="submit">Submit</button>
    
  </form>
  